- if current_order.errors.present?
  toastr.error("#{current_order.errors.first}");
- else
  - if @item.destroyed?
    toastr.success('Item is removed from cart!');
    $("#cart_header .cart-items-js [cart_item='#{@item.id}']").remove();
  - else
    toastr.success('Item is updated!');
    $("#cart_header .cart-items-js [cart_item='#{@item.id}']").replaceWith("#{j render(partial: 'carts/cart_item', locals: { item: @item })}");

