.ui.item#cart_header
  .browse.item
    %i.shopping.bag.large.icon
    .ui.floating.circular.teal.label.cart-badge.cart-item-badge-js= current_order.line_items.size
  .ui.popup.bottom.left.transition.hidden
    = render 'carts/list_items'

:javascript
  $('#cart_header .browse').popup({
    on: 'click',
    lastResort: 'bottom right',
  });
